body {
  font-family: "Segoe UI", sans-serif;
  font-size: 100%;
  margin: 0;
  padding: 0;
}

header {
  background: #333;
  color: #eee;
  width: 100%;
}

input#abrir-cerrar {
  visibility: hidden;
  position: absolute;
  top: -9999px;
}

label[for="abrir-cerrar"] {
  cursor: pointer;
  padding: 1rem;
  background-color: #333;
  color: #fff;
  display: inline-block;
  width: 100%;
}

.cerrar {
  display: none;
}

#sidebar {
  width: 0;
}

#contenido {
  margin-left: 0;
}

input#abrir-cerrar:checked ~ #sidebar {
  width: 300px;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"],
input#abrir-cerrar:checked ~ #contenido {
  margin-left: 300px;
  transition: margin-left 0.4s;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .cerrar {
  display: inline;
}

input#abrir-cerrar:checked + label[for="abrir-cerrar"] .abrir {
  display: none;
}

.sidebar {
  position: fixed;
  height: 100%;
  width: 0;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: #00324b;
  overflow-x: hidden;
  transition: 0.4s;
  padding: 1rem 0;
  box-sizing: border-box;

  &.sidebar-open {
    width: 300px;
  }

  .boton-cerrar {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    font-size: 2rem;
    display: block;
    padding: 0;
    line-height: 1.5rem;
    margin: 0;
    height: 32px;
    width: 32px;
    text-align: center;
    vertical-align: top;
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style: none inside;
  }

  ul {
    margin: 4rem auto;
    display: block;
    width: 80%;
    min-width: 200px;
  }

  a {
    display: block;
    font-size: 120%;
    color: #eee;
    text-decoration: none;

    &:hover {
      color: #fff;
      background-color: #f90;
    }
  }
}

h1 {
  color: #f90;
  font-size: 180%;
  font-weight: normal;
}

#contenido {
  transition: margin-left 0.4s;
  padding: 1rem;
}

.abrir-cerrar {
  color: #2e88c7;
  font-size: 1rem;
}
