<input type="checkbox" id="abrir-cerrar" name="abrir-cerrar" [(ngModel)]="menuOpen">
<label for="abrir-cerrar">&#9776; <span class="abrir">Abrir</span><span class="cerrar">Cerrar</span></label>
<div id="sidebar" [ngClass]="{'sidebar': true, 'sidebar-open': menuOpen}">
  <ul class="menu">
    <li><a href="#">Opción 1</a></li>
    <li><a href="#">Opción 2</a></li>
    <li><a href="#">Opción 3</a></li>
    <li><a href="#">Opción 4</a></li>
    <li><a href="#">Opción 5</a></li>
  </ul>
</div>
<!-- <block-ui>
  <div class="container-fluid">
    <div class="row">
      <div class="col-12">
        <div class="row">
          <div>
            <ng-container *ngTemplateOutlet="contentTemplate"></ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</block-ui> -->







<!-- <div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Side Menu</h1>
      <ul class="nav nav-pills nav-stacked">
        <li><a href="#">Login</a></li>
        <li><a href="#">Starting screen</a></li>
        <li><a href="#">Contact management</a></li>
        <li><a href="#">Lead Management</a></li>
        <li><a href="#">Opportunity Management</a></li>
        <li><a href="#">Sales flow management</a></li>
        <li><a href="#">Customer Support</a></li>
      </ul>
    </div>
  </div>
</div> -->
