body {
  background-color: #f2f2f2;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  max-width: 400px;
  margin: 0 auto;
  padding: 40px;
  background-color: #bdb3b360;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-top: 10%;
}

/* Resto del código SCSS */


/* Resto del código SCSS */

h1 {
  text-align: center;
  color: #333;
}

input[type="text"],
input[type="password"] {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

input[type="submit"] {
  display: block;
  width: 100%;
  padding: 10px;
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.forgot-password {
  text-align: center;
  margin-top: 20px;
  color: #999;
}
