<div class="container">
  <h1>Login</h1>
  <form [formGroup]="form">
    <input type="text" formControlName="username" placeholder="Username" required>
    <input type="password" formControlName="password" placeholder="Password" required>
    <input type="submit" value="Log In" (click)="login()">
  </form>
  <p class="forgot-password">Forgot password?</p>
</div>
