
<app-side-menu>

</app-side-menu>
<h1>Dashboard</h1>

<div class="row">
  <div class="col-md-6">
    <h2>Scheduled Appointments</h2>
    <ul>
      <li>John Doe - 10:00 AM</li>
      <li>Jane Smith - 11:00 AM</li>
      <li>Peter Jones - 12:00 PM</li>
    </ul>
  </div>

  <div class="col-md-6">
    <h2>Featured Patients</h2>
    <ul>
      <li>Patient 1</li>
      <li>Patient 2</li>
      <li>Patient 3</li>
    </ul>
  </div>
</div>

<div class="row">
  <div class="col-md-12">
    <h2>Financial Summary</h2>
    <table class="table">
      <thead>
        <tr>
          <th>Income</th>
          <th>Expense</th>
          <th>Profit/Loss</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td>$10,000</td>
          <td>$5,000</td>
          <td>$5,000</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
