.container {
  margin: 0 auto;
  max-width: 960px;
}

h1 {
  text-align: center;
}

.row {
  margin-bottom: 10px;
}

.col-md-6 {
  float: left;
  width: 50%;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  margin-bottom: 5px;
}

table {
  border-collapse: collapse;
}

th,
td {
  border: 1px solid #ccc;
  padding: 8px;
}

.table {
  width: 100%;
}

.table th {
  background-color: #f0f0f0;
  font-weight: bold;
}
